[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = ">=6.2.0" # https://nvd.nist.gov/vuln/detail/CVE-2019-16865
"boto3" = "*"
requests = "*"
uwsgi = "*"
larson = "*"
sentry-sdk = {extras = ["flask"]}
newrelic = "*"
enforce = "*"
flask-cors = "*"
urllib3 = ">=1.24.2" # https://nvd.nist.gov/vuln/detail/CVE-2019-11324
jinja2 = ">=2.10.1" # https://nvd.nist.gov/vuln/detail/CVE-2019-10906
werkzeug = ">=0.15.3" # https://nvd.nist.gov/vuln/detail/CVE-2019-14806

[dev-packages]
"flake8" = "*"
pytest = "*"
black = "*"
isort = "*"
prospector = "*"
vcrpy = "*"
pyannotate = "*"
mypy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
